<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>backstageAPImanage</title>
<link href="../js/form/formcss/Validform.css" rel="stylesheet" type="text/css" />
<link href="../css/valsun.css" rel="stylesheet" type="text/css" />
<script src="../js/jquery-1.10.2.js"></script>
<script src="../js/base.js"></script>
<script src="../js/form/Validform_v1.0.js"></script>
</head>

<body class="home-body-color">
	<div class="container">
    	<div class="content">
        	<div class="header">
                <div class="top-bar">
                    <div class="header-nav">
                        <ul>
                            <li class="tab">
                                <a href="homePage.html">首页</a>
                            </li>
                            <li class="tab">
                                <a href="#">开发文档</a>
                            </li>
                            <li class="tab">
                                <a href="#">官方论坛</a>
                            </li>
                            <li class="tab selected">
                                <a href="login.html">登录</a>
                            </li>
                            <li class="tab">
                                <a href="registered.html">注册</a>
                            </li>
                        </ul>
                        <div class="barTop"></div>
                    </div>
                    <div class="logo">
                        <img src="../images/logo.gif" />
                    </div>
                </div>
            </div>
            <div class="content-main">
                <div class="content-top-appli">
                    <img src="../images/appli_banner.gif">
                </div>
                <div class="content-mid">
                    <div class="pathnav">
                        <a href="#">开发者信息管理</a>
                        <a href="#">授权申请列表</a>
                        <a href="#">接口管理</a>
                    </div>
                    <div class="content-mid-right content-mid-unhover content-mid-total">
                        <div class="content-mid-title content-mid-totalbg">
                            接口管理
                        </div>
                        <div>
                            查询：<input type="text" /><input style="margin:0 50px;" class="addshops-bt-save" type="button" value="查询" /><input class="addshops-bt-add" type="button" value="新增" />
                        </div>
                        <div>
                            <table width="100%">
                                <thead>
                                    <tr>
                                        <td>
                                            Column 1
                                        </td>
                                        <td>
                                            Column 2
                                        </td>
                                        <td>
                                            Column 3
                                        </td>
                                        <td>
                                            操作
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            sssss
                                        </td>
                                        <td>
                                            sssss
                                        </td>
                                        <td>
                                            ssssss
                                        </td>
                                        <td>
                                            <a class="a-color" href="#">编辑</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            sssss
                                        </td>
                                        <td>
                                            sssss
                                        </td>
                                        <td>
                                            sssss
                                        </td>
                                        <td>
                                            <a class="a-color" href="#">编辑</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            sssss
                                        </td>
                                        <td>
                                            sssss
                                        </td>
                                        <td>
                                            sssss
                                        </td>
                                        <td>
                                            <a class="a-color" href="#">编辑</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div style="clear:both;">
                    </div>
                </div>
            </div>
            <div class="home-main">
            </div>
            <div class="login-bt">
                <div class="login-bt-main">
                    <div>
                        <a href="#">关于我们</a><span> | </span>
                        <a href="#">联系我们</a><span> | </span>
                        <a href="#">人才招聘</a><span> | </span>
                        <a href="#">商家入驻</a><span> | </span>
                        <a href="#">广告服务</a><span> | </span>
                        <a href="#">友情链接</a><span> | </span>
                        <a href="#">销售联盟</a><span> | </span>
                        <a href="#">华成社区</a>
                    </div>
                    <p>
                        Copyright©2014 华城云商 版权所有
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
