<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>backstageSenior</title>
<link href="../js/form/formcss/Validform.css" rel="stylesheet" type="text/css" />
<link href="../css/valsun.css" rel="stylesheet" type="text/css" />
<script src="../js/jquery-1.10.2.js"></script>
<script src="../js/base.js"></script>
<script src="../js/form/Validform_v1.0.js"></script>
</head>

<body class="home-body-color Arial-font">
	<div class="container">
    	<div class="content">
        	<div class="header">
                <div class="top-bar">
                    <div class="header-nav">
                        <ul>
                            <li class="tab">
                                <a href="homePage.html">首页</a>
                            </li>
                            <li class="tab">
                                <a href="#">开发文档</a>
                            </li>
                            <li class="tab">
                                <a href="#">官方论坛</a>
                            </li>
                            <li class="tab selected">
                                <a href="login.html">登录</a>
                            </li>
                            <li class="tab">
                                <a href="registered.html">注册</a>
                            </li>
                        </ul>
                        <div class="barTop"></div>
                    </div>
                    <div class="logo">
                        <img src="../images/logo.gif" />
                    </div>
                </div>
            </div>
            <div class="content-main">
                <div class="content-top-appli">
                    <img src="../images/appli_banner.gif">
                </div>
                <div class="content-mid">
                    <div class="pathnav">
                        <a href="#">开发者信息管理</a>
                        <a href="#">授权申请列表</a>
                    </div>
                    <div class="content-mid-tab">
                        <ul>
                            <li>
                                <a href="#">基本信息</a>
                            </li>
                            <li>
                                <a class="tab-select" href="#">高级信息</a>
                            </li>
                            <li>
                                <a href="#">店铺列表</a>
                            </li>
                            <li>
                                <a href="#">授权列表</a>
                            </li>
                        </ul>
                    </div>
                    <div class="content-mid-right content-mid-unhover content-mid-total">
                        <div class="content-mid-title content-mid-totalbg">
                            高级信息
                        </div>
                        <div>
                            <span class="content-mid-name">开户银行：</span>
                            <select class="select-width">
                                <option>广东省</option>
                            </select>
                            <input class="text-width-mid" type="text" />
                        </div>
                        <div>
                            <span class="content-mid-name">开户人：</span>
                            <input class="text-width-short" type="text" />
                            <input class="text-width-mid" type="text" />
                        </div>
                        <div>
                            <span class="content-mid-name">公司规模：</span>
                            <input class="text-width-long" type="text" />
                        </div>
                        <div>
                            <span class="content-mid-name">公司类型：</span>
                            <label><input type="radio" />贸易商</label>
                            <label><input type="radio" />工厂</label>
                        </div>
                        <div>
                            <span class="content-mid-name">公司规模（上年/今年）：</span>
                            <span class="content-mid-rightpos content-mid-righttab">
                                <input class="text-width-four" type="text" />
                                <input class="text-width-four" type="text" />
                                <label><input type="checkbox" />零售</label>
                                <label><input type="checkbox" />批发</label>
                            </span>
                        </div>
                        <div>
                            <span class="content-mid-name">预计每月分销额：</span>
                            <span class="content-mid-rightpos content-mid-righttab">
                                <input class="text-width-long text-one-margin" type="text" />
                            </span>
                        </div>
                        <div>
                            <span class="content-mid-name">开始电商时间与各平台账号数：</span>
                            <span class="content-mid-rightpos content-mid-righttab">
                                <input class="text-width-short" type="text" />
                                <input class="text-width-mid" type="text" />
                            </span>
                        </div>
                        <div>
                            <span class="content-mid-name">其他联系人与联系方式：</span>
                            <span class="content-mid-rightpos content-mid-righttab">
                                <input class="text-width-short" type="text" />
                                <input class="text-width-mid" type="text" />
                            </span>
                        </div>
                    </div>
                    <div style="clear:both;">
                    </div>
                </div>
            </div>
            <div class="home-main">
            </div>
            <div class="login-bt">
                <div class="login-bt-main">
                    <div>
                        <a href="#">关于我们</a><span> | </span>
                        <a href="#">联系我们</a><span> | </span>
                        <a href="#">人才招聘</a><span> | </span>
                        <a href="#">商家入驻</a><span> | </span>
                        <a href="#">广告服务</a><span> | </span>
                        <a href="#">友情链接</a><span> | </span>
                        <a href="#">销售联盟</a><span> | </span>
                        <a href="#">华成社区</a>
                    </div>
                    <p>
                        Copyright©2014 华城云商 版权所有
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
