<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>backstageExamine</title>
<link href="../js/form/formcss/Validform.css" rel="stylesheet" type="text/css" />
<link href="../css/valsun.css" rel="stylesheet" type="text/css" />
<script src="../js/jquery-1.10.2.js"></script>
<script src="../js/base.js"></script>
<script src="../js/form/Validform_v1.0.js"></script>
</head>

<body class="home-body-color Arial-font">
	<div class="container">
    	<div class="content">
        	<div class="header">
                <div class="top-bar">
                    <div class="header-nav">
                        <ul>
                            <li class="tab">
                                <a href="homePage.html">首页</a>
                            </li>
                            <li class="tab">
                                <a href="#">开发文档</a>
                            </li>
                            <li class="tab">
                                <a href="#">官方论坛</a>
                            </li>
                            <li class="tab selected">
                                <a href="login.html">登录</a>
                            </li>
                            <li class="tab">
                                <a href="registered.html">注册</a>
                            </li>
                        </ul>
                        <div class="barTop"></div>
                    </div>
                    <div class="logo">
                        <img src="../images/logo.gif" />
                    </div>
                </div>
            </div>
            <div class="content-main">
                <div class="content-top-appli">
                    <img src="../images/appli_banner.gif">
                </div>
                <div class="content-mid">
                    <div class="pathnav">
                        <a href="#">开发者信息管理</a>
                        <a href="#">授权申请列表</a>
                    </div>
                    <div class="content-mid-right content-mid-unhover content-mid-total">
                        <div class="content-mid-title content-mid-totalbg">
                            审核
                        </div>
                        <div>
                            <span class="content-mid-name">名称：</span>
                            <span>深圳市赛维网络电子网络科技有限公司</span>
                            <a class="a-float-show" href="#">+展开</a>
                        </div>
                        <div>
                            <span class="content-mid-name">已授权：</span>
                            <span>无</span>
                        </div>
                        <div>
                            <span class="content-mid-name">申请：</span>
                            <span>产品数据包开放</span>
                        </div>
                        <div>
                            <span class="content-mid-name">产品意向：</span>
                            <span>服饰与配饰，鞋子箱包</span>
                        </div>
                        <div>
                            <span class="content-mid-name">审核：</span>
                            <span>
                                <label><input type="radio" />通过</label>
                                <label><input type="radio" />不通过</label>
                            </span>
                        </div>
                        <div>
                            <span class="content-mid-name content-mid-left">可分销类目：</span>
                            <span class="content-mid-rightpos content-mid-righttab">
                                <label><input type="checkbox" />服装及配饰</label>
                                <label><input type="checkbox" />服装及配饰</label>
                                <label><input type="checkbox" />服装及配饰</label>
                                <label><input type="checkbox" />服装及配饰</label>
                                <label><input type="checkbox" />服装及配饰</label>
                                <label><input type="checkbox" />服装及配饰</label>
                                <label><input type="checkbox" />服装及配饰</label>
                                <label><input type="checkbox" />服装及配饰</label>
                                <label><input type="checkbox" />服装及配饰</label>
                                <label><input type="checkbox" />服装及配饰</label>
                            </span>
                            <div style="clear:both;">
                            </div>
                        </div>
                        <div>
                            <span class="content-mid-name">下载链接：</span>
                            <input class="text-width-long" type="text" />
                        </div>
                        <div>
                            <span class="content-mid-name">账号：</span>
                            <input class="text-width-long" type="text" />
                        </div>
                        <div>
                            <span class="content-mid-name">密码：</span>
                            <input class="text-width-long" type="text" />
                        </div>
                        <div>
                            <span class="content-mid-name"></span>
                            <span>
                                <input type="button" value="确定" />
                                <input type="button" value="关闭" />
                            </span>
                        </div>
                    </div>
                    <div style="clear:both;">
                    </div>
                </div>
            </div>
            <div class="home-main">
            </div>
            <div class="login-bt">
                <div class="login-bt-main">
                    <div>
                        <a href="#">关于我们</a><span> | </span>
                        <a href="#">联系我们</a><span> | </span>
                        <a href="#">人才招聘</a><span> | </span>
                        <a href="#">商家入驻</a><span> | </span>
                        <a href="#">广告服务</a><span> | </span>
                        <a href="#">友情链接</a><span> | </span>
                        <a href="#">销售联盟</a><span> | </span>
                        <a href="#">华成社区</a>
                    </div>
                    <p>
                        Copyright©2014 华城云商 版权所有
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
