<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>修改密码</title>
<link href="../js/form/formcss/Validform.css" rel="stylesheet" type="text/css" />
<link href="../css/valsun.css" rel="stylesheet" type="text/css" />
<script src="../js/jquery-1.10.2.js"></script>
<script src="../js/base.js"></script>
<script src="../js/form/Validform_v1.0.js"></script>
<script src="../js/changePassword.js"></script>
</head>

<body class="home-body-color Arial-font">
	<div class="container">
    	<div class="content">
    	{include file="header.html"}
            <div class="content-main">
                {include file='distributionSecondHeader.html'}
                <div class="content-mid">
                    {include file='leftNavigate.html'}
                    <div class="content-mid-right content-mid-unhover">
                        <div class="content-mid-title">
                            	修改密码
                        </div>
                        <div>
                            <form class="changepassform" action="../index.php?mod=basicInfor&act=changePost" method="post">
                            <ul>
                                <li>
                                    <label class="label ali">登录邮箱：</label>
                                    {$_username}
                                </li>
                                <li>
                                    <label class="label ali">当前密码：</label>
                                    <input type="password" value="" name="curPwd" class="inputxt logintxt text-width-mid" datatype="*6-20">
                                    <span class="Validform_checktip"></span>
                                </li>
                                <li>
                                    <label class="label ali">新密码：</label>
                                    <input type="password" value="" name="newPwd" class="inputxt logintxt text-width-mid" datatype="*6-20">
                                    <span class="Validform_checktip"></span>
                                </li>
                                <li>
                                    <label class="label ali">新密码确认：</label>
                                    <input type="password" value="" name="repPwd" class="inputxt logintxt text-width-mid" datatype="*6-20">
                                    <span class="Validform_checktip"></span>
                                </li>
                                <li>
                                    <label class="label"></label>
                                    <input class="login-bt-save" type="submit" value="确 定">
                                    <span class="Validform_checktip"></span>
                                </li>
                            </ul>
                        </form>
                        </div>
                    </div>
                    <div style="clear:both;">
                    </div>
                </div>
            </div>
            {include file="footer.html"}
        </div>
    </div>
</body>
</html>
