            <div class="home-main">
            </div>
            <div class="login-bt">
                <div class="login-bt-main">
                    <div>
                        <a href="#">关于我们</a><span> | </span>
                        <a href="#">联系我们</a><span> | </span>
                        <a target="_blank" href="http://developer.valsun.cn/index.php?mod=developerDoc&act=index">开发文档</a><span> | </span>
                        <a href="#">商家入驻</a>
                    </div>
                    <p>
                        版权所有Copyright©深圳市华成云商信息科技有限公司 粤ICP备12055809
                    </p>
                    <p>
                        广东省深圳市龙岗区平湖华南城1号交易广场6楼
                    </p>
                </div>
            </div>