<div class="content-mid-left">
    <div class="sidebar">
        <ul>
            
            <li class="sidebar-first {if ($mod eq 'distributorBasicInformation')||($mod eq 'sucAuthentication')} sidebar-first-select {/if} ">
                <a class="auth" href="#">认证分销商</a>
            </li>
            <li class="sidebar-second">
                <a {if (($mod eq 'distributorBasicInformation')||($mod eq 'sucAuthentication'))&&($act eq 'index')}class="sidebar-second-select"{/if} href="../index.php?mod=sucAuthentication&act=index">基本信息</a><br />
                <a {if ($mod eq 'distributorBasicInformation')&&($act eq 'addShop')}class="sidebar-second-select"{/if} href="../index.php?mod=distributorBasicInformation&act=addShop">添加店铺</a><br/>
                <a {if ($mod eq 'distributorBasicInformation')&&($act eq 'shopInfo')}class="sidebar-second-select"{/if} href="../index.php?mod=distributorBasicInformation&act=shopInfo">店铺资料</a>
            </li>
            <li class="sidebar-first {if ($mod eq 'myEmpower')} sidebar-first-select {/if} ">
                <a class="accr" href="#">我的授权</a>
            </li>
            <li class="sidebar-second">
                <a {if $mod eq 'myEmpower'}class="sidebar-second-select"{/if} href="../index.php?mod=myEmpower&act=index">我的授权</a><br />
            </li>
            <li class="sidebar-first {if ($mod eq 'api' && $act eq 'myApi')} sidebar-first-select {/if} ">
                <a class="myapi" href="#">我的API</a>
            </li>
            <li class="sidebar-second">
                <a {if ($mod eq 'api') && ($act eq 'myApi')}class="sidebar-second-select"{/if} href="../index.php?mod=api&act=myApi">我的API</a><br />
            </li>
            <li class="sidebar-first {if ($mod eq 'api' && $act eq 'applyApi')} sidebar-first-select {/if} ">
                <a class="apply" href="#">申请API</a>
            </li>
            <li class="sidebar-second">
                <a {if ($mod eq 'api') && ($act eq 'applyApi')}class="sidebar-second-select"{/if} href="../index.php?mod=api&act=applyApi">申请API</a><br />
            </li>
            <li class="sidebar-first {if ($mod eq 'basicInfor')} sidebar-first-select {/if} ">
                <a class="password" href="#">修改密码</a>
            </li>
            <li class="sidebar-second">
                <a {if ($mod eq 'basicInfor') && ($act eq 'changePwd')}class="sidebar-second-select"{/if} href="../index.php?mod=basicInfor&act=changePwd">修改密码</a><br />
            </li>
        </ul>
    </div>
</div>