<div class="empower-box-shade" id="dialog2">
    <div class="empower-box-content">
        <div class="empower-box-title">
            <div class="empower-title-main" id="title2">
                申请调整分销类目
            </div>
            <div class="empower-title-bt">
                <a class="describe-hide-box" href="javascript:void(0);"></a>
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="empower-box-main">
            <div class="empower-box-msg">
                <div class="empower-box-line">
                    <div class="empower-main-name" id="leftContent2_1">
                        可分销类目：
                    </div>
                    <div class="empower-main-text" id="rightContent2_1">
                        服装与配饰 鞋子及箱包 运动户外 家居生活 健康美容 宠物用品
                    </div>
                    <div class="clear">
                    </div>
                </div>
                <form id="adjustmentForm">
                <div class="empower-box-line">
                    <div class="empower-main-name" id="leftContent2_2">
                        希望调整至：
                    </div>
                    
                    <div class="empower-main-text" id="rightContent2_2">
                    </div>
                    
                    <div class="clear">
                    </div>
                </div>
                <div class="empower-box-line">
                    <div class="empower-main-name" id="leftContent2_3">
                        留言：
                    </div>
                    <div class="empower-main-text" id="rightContent2_3">
                        <textarea rows="6" cols="60" maxlength="200" name="message"></textarea>
                    </div>
                    <div class="clear">
                    </div>
                </div>
                </form>
                <div class="empower-box-line">
                    <div class="empower-main-name">
                        
                    </div>
                    <div class="empower-main-text">
                        <input type="submit" id="bt2_1"/>
                    </div>
                    <div class="clear">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>