<div class="empower-box-shade" id="dialog3">
    <div class="empower-box-content" >
        <div class="empower-box-title" >
            <div class="empower-title-main" id="title3">
                申请授权-ebay刊登系统
            </div>
            <div class="empower-title-bt">
                <a class="describe-hide-box" href="javascript:void(0);"></a>
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="empower-box-main">
            <form id="intentionProductsAndShopForm">
                <div class="empower-box-msg">
                    <div class="empower-box-line">
                        <div class="empower-main-name" id="leftContent3_1">
                            意向类目：
                        </div>
                       
                        <div class="empower-main-text" id="rightContent3_1">
                            
                        </div>
                        <div class="clear">
                        </div>
                    </div>
                    <div class="empower-box-line">
                        <div class="empower-main-name" id="leftContent3_2">
                            意向类目：
                        </div>
                        <div class="empower-main-text" id="rightContent3_2">
                            
                        </div>
                        
                        <div class="clear">
                        </div>
                    </div>
                    <div class="empower-box-line">
                        <input type="button" id="bt3_1" value="提交">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
        
