<div class="empower-box-shade" id="dialog">
    <div class="empower-box-content" >
        <div class="empower-box-title" >
            <div class="empower-title-main" id="title">
                	申请授权-ebay刊登系统
            </div>
            <div class="empower-title-bt">
                <a class="describe-hide-box" href="javascript:void(0);"></a>
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="empower-box-main">
            <div class="empower-box-msg">
                <div class="empower-box-line">
                    <div class="empower-main-name" id="leftContent">
                        	意向类目：
                    </div>
                    <form id="intentionProductsForm">
                    <div class="empower-main-text" id="rightContent">
                        
                    </div>
                    </form>
                    <div class="clear">
                    </div>
                </div>
                <div style="padding-left:143px;" role-name="submitButton" class="empower-box-line">
                    <input type="button" id="bt_1" value="提交">
                </div>
            </div>
        </div>
    </div>
</div>
        
