<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>myEmpower</title>
<link href="../js/form/formcss/Validform.css" rel="stylesheet" type="text/css" />
<link href="../css/valsun.css" rel="stylesheet" type="text/css" />
<script src="../js/jquery-1.10.2.js"></script>
<script src="../js/base.js"></script>
<script src="../js/form/Validform_v1.0.js"></script>
</head>

<body class="home-body-color Arial-font">
    <div class="container">
        <div class="content">
            <div class="header">
                <div class="top-bar">
                    <div class="header-nav">
                        <ul>
                            <li class="tab">
                                <a href="homePage.html">首页</a>
                            </li>
                            <li class="tab">
                                <a href="#">开发文档</a>
                            </li>
                            <li class="tab">
                                <a href="#">官方论坛</a>
                            </li>
                            <li class="tab selected">
                                <a href="login.html">登录</a>
                            </li>
                            <li class="tab">
                                <a href="registered.html">注册</a>
                            </li>
                        </ul>
                        <div class="barTop"></div>
                    </div>
                    <div class="logo">
                        <img src="../images/logo.gif" />
                    </div>
                </div>
            </div>
            <div class="content-main">
                <div class="content-top-auth">
                    <img src="../images/auth_banner.gif">
                </div>
                <div class="content-mid">
                    <div class="content-mid-left">
                        <div class="sidebar">
                            <ul>
                                <li class="sidebar-first sidebar-first-select">
                                    <a class="auth" href="#">认证分销商</a>
                                </li>
                                <li class="sidebar-second">
                                    <a class="sidebar-second-select" href="#">基本信息</a><br />
                                    <a href="#">店铺资料</a>
                                </li>
                                <li class="sidebar-first">
                                    <a class="accr" href="#">我的授权</a>
                                </li>
                                <li class="sidebar-second">
                                    <a href="#">二级导航</a><br />
                                    <a href="#">二级导航</a><br />
                                    <a href="#">二级导航</a><br />
                                    <a href="#">二级导航</a>
                                </li>
                                <li class="sidebar-first">
                                    <a class="myapi" href="#">我的API</a>
                                </li>
                                <li class="sidebar-second">
                                    <a href="#">二级导航</a><br />
                                    <a href="#">二级导航</a><br />
                                    <a href="#">二级导航</a><br />
                                    <a href="#">二级导航</a>
                                </li>
                                <li class="sidebar-first">
                                    <a class="apply" href="#">申请API</a>
                                </li>
                                <li class="sidebar-second">
                                    <a href="#">二级导航</a><br />
                                    <a href="#">二级导航</a><br />
                                    <a href="#">二级导航</a>
                                </li>
                                <li class="sidebar-first">
                                    <a class="password" href="#">修改密码</a>
                                </li>
                                <li class="sidebar-second">
                                    <a href="#">二级导航</a><br />
                                    <a href="#">二级导航</a><br />
                                    <a href="#">二级导航</a><br />
                                    <a href="#">二级导航</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="content-mid-right content-mid-table content-mid-unhover">
                        <div class="content-mid-title">
                            店铺资料
                        </div>
                        <div>
                            <span>
                                <select>
                                    <option>
                                        站点
                                    </option>
                                </select>
                            </span>
                            <span>
                                <select>
                                    <option>
                                        是否已申请ebay刊登
                                    </option>
                                </select>
                            </span>
                            <span>
                                <input type="text" />
                            </span>
                            <span>
                                <input type="button" value="查找">
                            </span>
                            <span>
                                <input type="button" value="添加店铺">
                            </span>
                        </div>
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <thead>
                                <td width="10%">
                                    编号
                                </td>
                                <td width="14%">
                                    站点
                                </td>
                                <td width="19%">
                                    账号
                                </td>
                                <td width="29%">
                                    paypal账号
                                </td>
                                <td width="19%">
                                    ebay刊登状态
                                </td>
                                <td width="9%">
                                    操作
                                </td>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td colspan="6" align="center">
                                        <p>还没有店铺</p>
                                        <a href="#">添加店铺</a>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div style="clear:both;">
                    </div>
                </div>
            </div>
            <div class="home-main">
            </div>
            <div class="login-bt">
                <div class="login-bt-main">
                    <div>
                        <a href="#">关于我们</a><span> | </span>
                        <a href="#">联系我们</a><span> | </span>
                        <a href="#">人才招聘</a><span> | </span>
                        <a href="#">商家入驻</a><span> | </span>
                        <a href="#">广告服务</a><span> | </span>
                        <a href="#">友情链接</a><span> | </span>
                        <a href="#">销售联盟</a><span> | </span>
                        <a href="#">华成社区</a>
                    </div>
                    <p>
                        Copyright©2014 华城云商 版权所有
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
